:root {
  --white:  #F5F7F8;
  --yellow: #F4CE14;
  --green:  #495E57;
  --grey:   #45474B;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--white);
}

.header{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0%;
  top: 5%;
  right: 0;
}

img.logo {
  position: relative;
}

h2.header {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  letter-spacing: 0.2em;
}

h4.header{
  position: relative;
  font-style: italic;
  font-weight: lighter;
}

nav{
  background-color: black;
  text-align: center;
  padding: 0.5em;
}

nav > a {
  color: var(--white);
  text-decoration: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
  transition: 0.5s;
}

nav > a:hover {
  color: var(--yellow);
  transition: 0.5s;
}

h1 {
  font-size: 5em;
  text-align: center;
  margin: 0em;
  letter-spacing: 0.5em;
}

table{
  margin: auto;
  margin-bottom: 10%;
}

td {
  padding: 1em;
}

td > a {
  text-decoration: none;
  color: #495E57;
  transition: 0.5s;
}

td > a:hover {
  color: #F4CE14;
  transition: 0.5;
}

button {
  position: relative;
  left: 48%;
  margin-bottom: 5%;
  border: none;
  background-color: black;
  padding: 1em;
  text-align: center; 
}

button > a {
  color: white;
  size: 2em;
  text-decoration: none;
  text-align: center;
  transition: 0.5;
}

button > a:hover {
  color: #F4CE14;
  transition: 0.5s;
}

footer {
  padding: 1em;
  text-align: center;
  background-color: black;
  color: white;
}

ul#dropdown {
  display: none;
  list-style-type: none;
  background-color: black;
  border-width: 0.1em;
  position: absolute;
  z-index: 2;
  padding-left: 0;
  padding: 1em;
  margin-top: 0;
  left: 48%;
}

ul#dropdown > a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

ul#dropdown > a:hover {
  color: #F4CE14;
  transition: 0.5s;
}

ul#dropdown > li > a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

ul#dropdown > li > a:hover {
  color: #F4CE14;
  transition: 0.5s;
}