@charset "UTF-8";
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .header {
    background: linear-gradient(to bottom,  black , goldenrod);
    padding: 25px;
    text-align: center;
    font-size: 40px;
    color: chocolate;
  }
  
 /*Event list section*/
  .leftcolumn{ 
    padding: 30px;
    width: 50%;
    
    float: left;
  }

  /* calendar section*/

  .rightcolumn {
    float: left;
    padding: 20px;
    width: 50%;
    background-color: #ffffec;
    

    
  }
  

  /*pagination*/ 

.pagination {
    margin-top: 20px; /* Add some top margin for spacing */
    text-align: center;
    
    padding: 20px;
   
}

.pagination button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}

.pagination button:hover {
  background-color: #415c43;
}

/* Logo image setup*/
  img#logoImage {
    display: block;
    width: 100%;
    max-width: 100px;
    margin: 0px auto;
    position:fixed; 
	  top:0; 
	  left:0; 
    cursor: pointer;
 }

  
  /* Create nav bar */
.navtop {
  float: left;
  width: 100%;
  background: gray;
  padding: 1px;
  overflow: hidden;
}

/* Style the nav top links */
.navtop a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

/* Change color on hover */
.navtop a:hover {
  background-color: goldenrod;
  color: black;
 
}

/* Style the list inside the menu */
.navtop ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove default margin to prevent misalignment */
}

/* Ensure alignment of home, filter, and about us links */
.navtop li {
  display: inline-block;
  margin-right: 20px;
}

/* Style for the dropdown */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


  /*table style*/
  td, th {
    align-items: center;
    border-style: solid;
    border-width: 2px;
  }
  td{
    background: goldenrod;
    color: white;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 2px 2px 4px #000000;
  }
  .primary{
    background-color: red;
    position: sticky;
  }
   th {
    background: #ffc107;
    color: white;
    border-radius: 0;
    top: 0;
    padding: 10px;
  }
  tbody > tr:hover {
    background-color: #ffc107;
  }
  
  /* Clear floats after the columns */
  .leftcolumn::after,.rightcolumn::after, .pagination {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  .footer {
    background-color: grey;
    padding: 10px;
    text-align: center;
    color: white;
    clear: both;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 2px 2px 4px #000000;
   
  
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    .navtop, .rightcolumn, .leftcolumn{
      width: 100%;
      height: auto;
    }
    
  }

  