:root {
    --white:  #F5F7F8;
    --yellow: #F4CE14;
    --green:  #495E57;
    --grey:   #45474B;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--white);
}

.header{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0%;
    top: 5%;
    right: 0;
}

img.logo {
    position: relative;
}

h2.header {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    letter-spacing: 0.2em;
}

h4.header{
    position: relative;
    font-style: italic;
    font-weight: lighter;
}

nav{
    background-color: black;
    text-align: center;
    padding: 0.5em;
}

nav > a {
    color: var(--white);
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
    transition: 0.5s;
}

nav > a:hover {
    color: var(--yellow);
    transition: 0.5s;
}

/* Style for the dropdown */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
    font-size: 5em;
    text-align: center;
    margin: 0em;
    letter-spacing: 0.5em;
}

table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

td > a {
    color: var(--green);
    text-decoration: none;
    transition: 0.5s;
}

td > a:hover {
    color: var(--yellow);
    transition: 0.5s;
}

div.pages {
    margin: auto;
    text-align: center;
    padding: 5em;
}

button {
    background-color: black;
    padding: 0.5em;
    border: none;
}

button > a {
    color: #F5F7F8;
    font-size: 2em;
    text-decoration: none;
    transition: 0.5s;
}

button > a:hover {
    color: #F4CE14;
    transition: 0.5s;
}

footer {
    background-color: black;
    color: #F5F7F8;
    text-align: center;
    padding: 0.5em;
}

h3 {
  font-size: medium;
  text-align: center;
  margin: 0em;
  padding: 10px 10px 10px;
}

.share-buttons {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.share-buttons a i {
  font-size: 60px
}

.share-buttons a {
  transition: 500ms;
  margin: 5px;
}

.share-buttons a:hover {
  transform: scale(1.1);
}

.share-buttons .fa-facebook {
  color: #3b5998;
  padding: 2px;

}

.share-buttons .fa-twitter {
  color: #55acee;
  padding: 4px;

}

.share-buttons .fa-reddit {
  color: #cb2027;
  padding: 4px;


}

.share-buttons .fa-linkedin {
  color: #0077b5;
  padding: 4px;
}
