<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
  <!--CSS-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/AUstyle.css') }}">
    <title>The Buzz</title>
      
  
      <!-- Add icon link -->
    <link rel="icon" href="{{ url_for('static', filename='images/thiccmusBee.png') }}" type="image/x-icon">
   
</head>

 <!-- Header -->
 <div class="header">
  <img class="logo" src="{{ url_for('static', filename='images/beeLogoYellowAlphatransp.png') }}" alt="a logo of a bee that kinda looks like its wearing glasses"/>
  <h2 class="header">The Buzz</h2>
  <h4 class="header">Fly from one event to another</h4>
</div>

    
     <!-- Nav Bar -->
     <nav>
      <a href="{{ url_for('index') }}">Home</a>
      <a href="#" class="dropbtn">Filter</a>
              <div class="dropdown-content">
                  <a href="{{ url_for('index') }}">All</a>
                  {% for price_range in price_ranges %}
                  <a href="{{ url_for('filter_by_price', price_range=price_range, page=1) }}">{{ price_range }}</a>
                  {% endfor %}
              </div>
      <a href="{{ url_for('about')  }}">About Us</a>
  </nav>
  
  <!-- Weather Widget -->
  <div>
      <a class="weatherwidget-io" href="https://forecast7.com/en/42d36n71d06/boston/?unit=us" data-label_2="BOSTON" data-label_2="WEATHER" data-days="5" data-theme="pool_table">BOSTON WEATHER</a>
      <script>
          !function(d,s,id) {
              var js,fjs=d.getElementsByTagName(s)[0];
              if(!d.getElementById(id)){
                  js=d.createElement(s);
                  js.id=id;
                  js.src='https://weatherwidget.io/js/widget.min.js';
                  fjs.parentNode.insertBefore(js,fjs);
              }
          }
          (document,'script','weatherwidget-io-js');
      </script>
  </div>
  <!-- Info cards -->
<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="{{ url_for('static', filename='/images/beeLogo_small non t.png') }}" alt="Aug" style="width:30%">
      <div class="container">
        <h2>Augustus Romano</h2>
        <p class="title">Backend</p>
        <p>Augustus is our best team member who worked fully on creating Flask for the website </p>
        <p>Augustus.Romano001@umb.edu</p>
         <!-- Button with email link -->
  <a href="mailto:augustus.romano001@umb.edu" class="button">Contact </a>
         
      </div>
    </div>
  </div> 


  <div class="column">
    <div class="card">
      <img src="{{ url_for('static', filename='/images/beeLogo_small non t.png') }}"alt="Kir" style="width:30%">
      <div class="container">
        <h2>Kir Perepada</h2>
        <p class="title">Backend</p>
        <p>In our project Kir helped with Python and created the calnder where our users can download </p>
        <p>kseniya.perepada001@umb.edu</p>
         <!-- Button with email link -->
  <a href="mailto:kseniya.perepada001@umb.edu" class="button">Contact </a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{{ url_for('static', filename='/images/beeLogo_small non t.png') }}" alt="Lau" style="width:30%">
      <div class="container">
        <h2>Laura Perez</h2>
        <p class="title">HTML & CSS</p>
        <p>Laura worked on the front-end using HTML where she collabrated with Augustus on connecting Flask and HTML </p>
        <p>laura.perez022@umb.edu</p>
        <!-- Button with email link -->
  <a href="mailto:laura.perez022@umb.edu" class="button">Contact </a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="{{ url_for('static', filename='/images/beeLogo_small non t.png') }}" alt="Lina" style="width:30%">
      <div class="container">
        <h2>Lina Batarseh</h2>
        <p class="title">Management/HTML & CSS</p>
        <p>Lina is part of our management team and reserch where she also helped with the front-end and HTML</p>
        <p>Lina.Batarseh001@umb.edu</p>
        <!-- Button with email link -->
  <a href="mailto:lina.batarseh001@umb.edu" class="button">Contact</a>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="{{ url_for('static', filename='/images/beeLogo_small non t.png') }}" alt="Long" style="width:30%">
      <div class="container">
        <h2>Long Loung</h2>
        <p class="title">Backend</p>
        <p>Long worked fully on the back-end where he managed the Python and supported Augustus with Flask</p>
        <p>long.luong001@umb.edu</p>
        <!-- Button with email link -->
  <a href="mailto:long.luong001@umb.edu" class="button">Contact </a>
</body>
      </div>
    </div>
  </div>
</div>

 <!-- Footer -->
<footer>
  <p>2023</p>
</footer>
</body>
</html>