<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--the pyscript thingy-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/AUstyle.css') }}" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script> 

  <!--CSS-->
  <link rel="stylesheet" href="AUstyle.css">
    <title>The Buzz</title>
      
  
     <!-- add icon link -->
       <link rel = "icon" href =  
       "images/beeLogoYellowAlphatransp.png 
               type = "image/x-icon"/> 
   
</head>

<!-- Header -->
<div class="header">
  <div id="logoImage" align="left">
      <img src="{{ url_for('static', filename='images/beeLogoYellowAlphatransp.png') }}"
          style="float:left;width:62px;height:62px;" />
  </div>
      
      <h2>{% block title %}  The Buzz {% endblock %}</h2>
      
  </div>
    
      <!--Nav Bar-->
        <div  class="navtop">
          <ul>
            <li><a  href="{{ url_for('index')  }}">Home</a></li>
            <li><a href="#Filter">Filter</a></li>
            <li><a href="about us.html">Abous Us</a></li>
          </ul>
        </div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="images/beeLogo_small non t.png" alt="Aug" style="width:30%">
      <div class="container">
        <h2>Augustus Romano</h2>
        <p class="title">Backend</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Augustus.Romano001@umb.edu</p>
        <a href="mailto:augustus.romano001@umb.edu" class="button">Contact </a>
      </div>
    </div>
  </div> 


  <div class="column">
    <div class="card">
      <img src="images/beeLogo_small non t.png" alt="Kir" style="width:30%">
      <div class="container">
        <h2>Kir Perepada</h2>
        <p class="title">Backend</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>kseniya.perepada001@umb.edu</p>
        <a href="mailto:kseniya.perepada001@umb.edu" class="button">Contact </a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="images/beeLogo_small non t.png" alt="Lau" style="width:30%">
      <div class="container">
        <h2>Laura Perez</h2>
        <p class="title">HTML & CSS</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>laura.perez022@umb.edu</p>
        <a href="mailto:laura.perez022@umb.edu" class="button">Contact </a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="images/beeLogo_small non t.png" alt="Lina" style="width:30%">
      <div class="container">
        <h2>Lina Batarseh</h2>
        <p class="title">Management/HTML & CSS</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>Lina.Batarseh001@umb.edu</p>
        <a href="mailto:lina.batarseh001@umb.edu" class="button">Contact</a>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="images/beeLogo_small non t.png" alt="Long" style="width:30%">
      <div class="container">
        <h2>Long Loung</h2>
        <p class="title">Backend</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>long.luong001@umb.edu</p>
        <a href="mailto:long.luong001@umb.edu" class="button">Contact </a>
      </div>
    </div>
  </div>
</div>

 <!--Footer-->
 <div class ="footer">
    <p>2023</p>
  </div>

  </body>
  </html>