<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- The pyscript thingy -->
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css">
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>The Buzz</title>

    <!-- Add icon link -->
    <link rel="icon" href="images/beeLogo_small_alpha.png" type="image/x-icon">

</head>
<body>

    <!-- Header -->
    <div class="header">
        <div id="logoImage" align="left">
            <img src="images/beeLogoYellowAlphatransp.png" style="float:left;width:62px;height:62px;" alt="" />
        </div>
        <h2>The Buzz</h2>
    </div>

    <!-- Nav Bar -->
    <div class="navtop">
        <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a href="#Filter">Filter</a></li>
            <li>
                <a href="{{ url_for('about')  }}">About Us</a>
            </li>
        </ul>
    </div>
        <article>
            <h1>Events</h1>
            <ul>
                {% for post in posts %}
                    <tr>
                        <td>
                            <a href="#">
                                <h2>{{ post['event_name'] }}</h2>
                            </a>
                            <p>Ticket Range: {{ post['ticket_range'] }}</p>
                            <p>Date: {{ post['date'] }}</p>
                            <!--<p>Image {{ post['image_urls'] }}</p>-->
                            <!--<p>url {{ post['event_url'] }}</p>-->
                            <a href="{{ post['event_url'] }}"><img src="{{ post['image_urls'] }}"></a>
                            
                            <form>
                                <input type="submit" name="Get Calendar" value="getCal">
                            </form>
                            
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <p>Another event</p>
        </article>
        <section>
            <nav>
                <ul>
                    <!-- Weather Widget -->
                    <a class="weatherwidget-io" href="https://forecast7.com/en/42d36n71d06/boston/?unit=us" data-label_1="BOSTON"
                        data-label_2="WEATHER" data-days="5" data-theme="beige">BOSTON WEATHER</a>
                    <script>
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
                    </script>
                </ul>
            </nav>

    </section>

    <!-- Footer -->
    <div class="footer">
        <p>2023</p>
    </div>
</body>
</html>
