<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- The pyscript thingy -->
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>The Buzz</title>

    <!-- Add icon link -->
    <link rel="icon" href="{{ url_for('static', filename='images/thiccmusBee.png') }}" type="image/x-icon">

</head>

<body>
    <!-- Header -->
    <div class="header">
        <img class="logo" src="{{ url_for('static', filename='images/beeLogoYellowAlphatransp.png') }}" alt="a logo of a bee that kinda looks like its wearing glasses"/>
        <h2 class="header">The Buzz</h2>
        <h4 class="header">Fly from one event to another</h4>
    </div>

    <!-- Nav Bar -->
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="#" class="dropbtn">Filter</a>
        <a href="{{ url_for('about') }}">About Us</a>
    </nav>
    <ul class="dropdown-content">
        <a href="{{ url_for('index') }}">All</a>
        {% for price_range in price_ranges %}
        <li><a href="{{ url_for('filter_by_price', price_range=price_range, page=1) }}">{{ price_range }}</a></li>
        {% endfor %}
    </ul>
    <!-- Weather Widget -->
    <div>
        <a class="weatherwidget-io" href="https://forecast7.com/en/42d36n71d06/boston/?unit=us" data-label_2="BOSTON" data-label_2="WEATHER" data-days="5" data-theme="pool_table">BOSTON WEATHER</a>
        <script>
            !function(d,s,id) {
                var js,fjs=d.getElementsByTagName(s)[0];
                if(!d.getElementById(id)){
                    js=d.createElement(s);
                    js.id=id;
                    js.src='https://weatherwidget.io/js/widget.min.js';
                    fjs.parentNode.insertBefore(js,fjs);
                }
            }
            (document,'script','weatherwidget-io-js');
        </script>
    </div>
<article>
    <h1>Events</h1>
    <div class="events">
        <table>
            {% for event in events %}
                <tr>
                    <td>
                    <a href="{{ event['event_url'] }}">
                        <h2>{{ event['event_name'] }}</h2>
                    </a>
                    <p>Ticket Range: {{ event['ticket_range'] }}</p>
                    <p>Date: {{ event['date'] }}</p>
                    <a href="{{ url_for('calendars', filename=event['event_name'])}}">Get Calendar</a>
                    </td>
                    <td>
                        <img src="{{ event['image_urls']|replace('"', '') }}">
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Pagination buttons -->
    <div class="pages">
        {% if show_previous %}
        <button><a href="{{ url_for('events', page=page-1) }}">←</a></button>
        {% endif %}
    
        {% if show_next %}
        <button><a href="{{ url_for('events', page=page+1) }}">→</a></button>
        {% endif %}
    </div>
 </article>

 <!-- Footer -->
<footer>
    <p>2023</p>
</footer>
</body>
</html>
